@page "/"

<PageTitle>Thrift Store Media | Search</PageTitle>

<h2 class="text-center">What are you searching for?</h2>

<div class="d-flex justify-content-center mb-3">
    <div class="input-group" style="max-width: 600px; width: 100%;">
        <input @bind="searchText" class="form-control" placeholder="Search..." />
        <span class="input-group-append">
            <button class="btn btn-primary" type="button" style="height:100%;" @onclick="OnNewSearch">New
                Search</button>
        </span>
    </div>
</div>

@code {
    private string searchText = string.Empty;

    private void OnNewSearch()
    {
        // Handle new search logic here
    }
}